.ButtonComponent {
  /* Button */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  width: fit-content;
  min-width: 100px;
  /* Color/Color 5 */
  /* background: #dc4634; */
  border-radius: 28px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
