.ButtonComponent {
  /* Button */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 44px;
  gap: 10px;
  cursor: pointer;

  width: max-content;
  height: 56px;
  color: #fff;

  /* Color/Color 5 */

  background: #dc4634;
  border-radius: 28px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
